@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
body, html{
    background-color: rgb(247, 242, 236);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar-brand{
    font-size: 32px;
}
.navbar-brand span{
    color: mediumseagreen;
    font-weight: bold;
}
.navbar{
    background-color: rgba(247, 242, 236, 0);
}
.nav-link{
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 10rem;
    color: #000;
    font-size: large;
    margin-right: 2rem;
    margin-left: 0;
}
.nav-link:hover{
    color: gray;
}
@media(max-width: 576px){
    .nav-link{
        /* font-size: 16px; */
        font-size: 14px;
        padding: 0.6rem;
        margin: 0.5rem;
    }
}
.nav-contact{
    color: aliceblue;
}
a{
    text-decoration: none;
}
#container-hero, #container-about{
    width: 60%;
}
@media(max-width: 576px){
    #container-hero {
        width: 94%;
    }
    #container-about{
       width: 90%; 
    }
}
section{
    padding: 200px 4%;
}
#hero{
    /* background-color: red; */
    /* background-image: url('https://cdn.pixabay.com/photo/2017/03/09/07/21/leaf-2128642_1280.jpg'); */
    background-image: url('https://cdn.pixabay.com/photo/2018/04/28/03/14/farm-3356518_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content h1{
    font-size: 50px;
    color: #fff;
}
.buy-now{
    padding: 0.8rem !important;
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 2rem !important;
    margin-top: 0 !important;
}
.buy-now:hover{
    color: #fff !important;
    background-color: mediumseagreen !important;
    transition: all 0.3s ease-in-out;
}


.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    /* border: none;
    outline: none; */
    border: 1px solid #000000ab;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 12px 16px;
    /* background-color: #f1f1f1; */
    background-color: rgb(247, 242, 236);
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
    /* background-color: rgb(247, 242, 236); */
  }
  
  /* Add a dark background to the active button */
  /* .btn.active {
    background-color: #666;
    color: white;
  } */
  #myBtnContainer{
    margin-bottom: 1rem;
    width: 70%;
  }
  @media(max-width: 576px){
    #myBtnContainer{
        width: 94%;
    }
  }
  #container-filter{
    width: 70%;
  }
  @media(max-width: 576px){
    #container-filter{
        width: 94%;
    }
  }

  .card{
    border-radius: 1.5rem;
  }
  .card-img-top{
    border-radius: 1.5rem;
  }
  .card p{
    margin-top: 0;
    margin-bottom: 0;
  }
  #footer{
    background-color: #000;
    color: #ddd;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
.footer-content a{
    color: mediumturquoise;
}
